<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>{{json_data.Title}}</title>

    <!-- Favicon -->
    <link rel="icon" href="/recipes/static/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/recipes/static/style.css">

</head>

<body>
    <!-- Preloader -->
    <!-- Preloader -->
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="/recipes/static/img/core-img/salad.png" alt="">
    </div>


    
    <!-- ##### breadcrumb Area Start ##### -->
    <div class="breadcrumb-area bg-img" style="background-image: url(https://i.pinimg.com/originals/77/c8/1e/77c81e8f0a99ef8b1f77fa4b643167fe.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-text text-center">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### breadcrumb Area End ##### -->

    <div class="receipe-post-area">

        <!-- Receipe Content Area -->
        <div class="receipe-content-area">
            <div class="container">

                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="receipe-headline my-5">
                            <h2>{{json_data.Title}}</h2>
                            <div class="receipe-duration">
                                <h6>{{ json_data.Servings }} Servings</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <!-- Ingredients -->
                    <div class="col-12 col-lg-4">
                        <div class="ingredients">
                            <h4>Ingredients</h4>

                            {% for ingredient in json_data.Ingredients %}
                            <!-- Custom Checkbox -->
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">{{ ingredient.0 }} {{ ingredient.1 }} {{ ingredient.2 }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-12 col-lg-8">
                        <!-- Single Preparation Step -->
                         {% for instruction in json_data.Instructions %}
                            <div class="single-preparation-step d-flex">
                                <!-- numbers should be in 01. format -->
                                <h4>0{{loop.index}}.</h4>
                                <p>{{ instruction }}</p>
                            </div>
                         {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 h-100 d-flex flex-wrap align-items-center justify-content-between">
                    <!-- Copywrite -->
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="/recipes/static/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/recipes/static/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/recipes/static/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/recipes/static/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/recipes/static/js/active.js"></script>
    <!-- Handlebars -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
</body>

</html>